/* Application.css */

html {
	background:rgba(255, 200, 124,1);
}

body {
	background:rgba(255, 200, 124,1);
}

a, a:visited {
	color:#900000;
}

a:hover, a:active {
	color:#CC0000;
}

body>header {
	padding: .5rem 1rem;
}

h1 {
	font-size: 90px;
	font-family: 'Coda', cursive;
	font-weight: 400;
	line-height: 80px;
}

body>main {
	padding: 0 1rem;
}

body>nav {
	padding: 0 1rem;
}

body>footer {
	padding:.25rem 1rem;
}

.footTitle {
	font-size: 90px;
	font-family: 'Coda', cursive;
	font-weight: 800;
	text-transform:uppercase;
	line-height: 80px;
	text-align:right;
}
.copyright {
	color:white;
	background:black;
	
	padding:.25rem 1rem;
}
